{% load static %}
<section class="reg">
    <div class="mainform">
        <h2 class="section_title">Узнавайте об новых акциях</h2>
        <div class="mainform_subtitle">Подпишитесь и получайте промокоды, акции и подборки товаров на свою почту.</div>
        <form class="mainform_body" method="post" action="{% url 'subscribe' %}">
            {% csrf_token %}
            <input type="text" name="email" placeholder="email">
            <button class="btn" type="submit">Подписаться</button>

        </form>
        <div class="mainform_info">
            Нажимая на кнопку я подтверждаю обработку <a href="#">персональных данных</a>
        </div>
    </div>
</section>